.edit-purchase
    &__name-label
        color: $blue !important
    .labeled-field
        margin-bottom: 20px
    textarea
        min-width: 100%
        max-width: 100%
        height: 90px
    &__form-group-row
        input
            width: 300px
    &__btns
        margin-top: 40px
    .form-underline
        margin-top: 20px !important