.tag
    display: inline-block
    padding: 13px 20px
    color: $blue
    font-size: 16px
    width: max-content
    min-width: max-content
    background-color: #fff
    box-shadow: $shadow
    border-radius: 5px
    box-sizing: border-box
    &__amount
        display: inline-block
        font-size: 18px
        color: #E8345F
        opacity: .5
        font-weight: 700
        margin-left: 5px